@media screen and (max-width: 850px) {
body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
}

@media screen and (min-width: 901px) {
body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 70%;
  width: 100%;
}
}

body nav{
    position: sticky;
    top: 0px;
}

body nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #f1f1f1;
}

body nav ul li {
  list-style: none;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

body nav ul li a {
  text-decoration: none;
  color: #1ac;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 0px 8px;
  font-size: 16px; 
  line-height: 20px;
  border-radius: 4px;
}

.header a.logo {
   margin-top: 5px;
   height: 50px;
}

.logoImg{
   margin-top: 5px;
   height: 40px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

p.about { 
  font-size: 15px;
  line-height: 1.4;
  padding: 10px;
}

/* Clear floats after the columns */
.row::after{
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 14%;
  /* background-color: grey; */
}

.middle {
  width: 65%;
  /* background-color: dodgerblue; */
}

.column img{
  /*margin-top: 8px; */
  vertical-align: middle;
}

.coverpage{
    width: 70%;
    margin-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr{
  margin-top: 20px;
}

.imageColumn {
  width: 31%;
  padding: 10px;
  float: left;
  /* background-color: dodgerblue; */
}

.textColumn {
  width: 31%;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  /* background-color: dodgerblue; */
}

.background{
  margin: 10px;
  background-color: grey;
}

.background2{
  padding: 15px;
  background-color: #DCDCDC;
}

.background3{
  padding: 15px;
  background-color: #F0FFF0;
}

.h1{
  font-size: 30px;
  padding-bottom: 30px;
}

.h1.center{
  margin-top: 30px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 10px;
}

/* about photo grid of photos */
.column.hf1{
  width: 60%;
  padding: 4px;
}

.column.hf2{
  width: 35%;
  padding: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  /*background-color: #2196F3; */
}

.grid-container > div {
  padding: 2px 2px; 
  /* background-color: rgba(255, 255, 255, 0.8); */
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
/* original: (max-width: 1920px) { 
   for 992px width, we need the following 
*/
    .Img{
      width: 380px;
      height:251px;
    }
    
    .banner{
      width: 1250px;
      height:auto;
    }
    
    .clientImg{
      width: 200px;
    }
    
    .bioImage{
      width: 300px;
      margin: 3px;
    }
}

@media screen and (max-width: 1399px) {
    /* for 1366px width, we need the following */
    .Img{
      width: 280px;
      height:185px;
    }
    
    .banner{
      width: 880px;
      height:auto;
    }
    
    .clientImg{
      width: 140px;
    }
    
    .bioImage{
      width: 220px;
      margin: 3px;
    }
}

.anchor{
display: block;
position: relative;
top: -60px;
visibility: hidden;
}


