@media screen and (min-width: 1399px) and (max-width: 2000px) {

body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 70%;
  width: 100%;
}

/* nav */
body nav{
    position: sticky;
    top: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
}

body nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #f1f1f1;
  padding: 0;
}

body nav ul li {
  list-style: none;
  margin-right: 3px;
  font-weight: bold;
}

body nav ul li a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 0px 6px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

body nav .logoImg{
   height: 40px;
}

.body nav a:hover {
  background-color: #ddd;
  color: black;
}

.anchor{
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.textColumn {
  width: 31%;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.imageColumn {
  padding: 2px;
  float: left;
  margin-left: 10px;
}

.header-right {
  float: right;
}

.header-left {
  float: left;
}

p.about { 
  font-size: 15px;
  line-height: 1.4;
  padding: 10px;
}

/* Clear floats after the columns */
.row::after{
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 14%;
}

.middle {
  width: 65%;
}

.column.hf1{
  width: 60%;
  padding: 4px;
}

.column.hf2{
  width: 35%;
  margin-left: 4px;
}

.coverpage{
    width: 70%;
    margin-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr{
  margin-top: 20px;
}

.background{
  margin: 10px;
  background-color: grey;
}

.background2{
  padding: 15px;
  background-color: #DCDCDC;
}

.background3{
  padding: 15px;
  background-color: #F0FFF0;
}

.h1{
  font-size: 30px;
  padding-bottom: 30px;
}

.h1.center{
  margin-top: 30px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 10px;
}

/* about photo grid of photos */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container > div {
  padding: 2px 2px; 
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.Img{
  width: 380px;
  height: 251px;
  margin-bottom: 5px;
}

.clientImg{
  width: 200px;
}
    
.bioImage{
  width: 300px;
  margin: 3px;
}
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {

body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 70%;
  width: 100%;
}

/* nav */
body nav{
    position: sticky;
    top: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
}

body nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #f1f1f1;
  padding: 0;
}

body nav ul li {
  list-style: none;
  margin-right: 3px;
  font-weight: bold;
}

body nav ul li a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 0px 6px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

body nav .logoImg{
   height: 40px;
}

.body nav a:hover {
  background-color: #ddd;
  color: black;
}

.anchor{
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.textColumn {
  width: 31%;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.imageColumn {
  padding: 2px;
  float: left;
  margin-left: 10px;
}

.header-right {
  float: right;
}

.header-left {
  float: left;
}

p.about { 
  font-size: 15px;
  line-height: 1.4;
  padding: 10px;
}

/* Clear floats after the columns */
.row::after{
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 14%;
}

.middle {
  width: 65%;
}

.column.hf1{
  width: 60%;
  padding: 4px;
}

.column.hf2{
  width: 35%;
  margin-left: 4px;
}

.coverpage{
    width: 70%;
    margin-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr{
  margin-top: 20px;
}

.background{
  margin: 10px;
  background-color: grey;
}

.background2{
  padding: 15px;
  background-color: #DCDCDC;
}

.background3{
  padding: 15px;
  background-color: #F0FFF0;
}

.h1{
  font-size: 30px;
  padding-bottom: 30px;
}

.h1.center{
  margin-top: 30px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 10px;
}

/* about photo grid of photos */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container > div {
  padding: 2px 2px; 
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.Img{
  width: 280px;
  height: 185px;
  margin-bottom: 5px;
}

.clientImg{
  width: 120px;
}
    
.bioImage{
  width: 250px;
  margin: 3px;
}
}

@media screen and (min-width: 600px) and (max-width: 992px) {

body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

/* nav */
body nav{
    position: sticky;
    top: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
}

body nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #f1f1f1;
  padding: 0;
}

body nav ul li {
  list-style: none;
  margin-right: 3px;
  font-weight: bold;
}

body nav ul li a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 0px 3px;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
}

body nav .logoImg{
   height: 20px;
}

.body nav a:hover {
  background-color: #ddd;
  color: black;
}

.anchor{
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.textColumn {
  width: 80%;
  margin-left: 30px;
  margin-right: 30px;
  float: left;
}

.imageColumn {
  padding: 2px;
  float: left;
  margin-left: 10px;
}

.header-right {
  float: right;
}

.header-left {
  float: left;
}

p.about { 
  font-size: 15px;
  line-height: 1.4;
  padding: 10px;
}

/* Clear floats after the columns */
.row::after{
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 14%;
}

.middle {
  width: 65%;
}

.column.hf1{
  width: 60%;
  padding: 4px;
}

.column.hf2{
  width: 35%;
  margin-left: 4px;
}

.coverpage{
    width: 70%;
    margin-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr{
  margin-top: 20px;
}

.background{
  margin: 10px;
  background-color: grey;
}

.background2{
  padding: 15px;
  background-color: #DCDCDC;
}

.background3{
  padding: 15px;
  background-color: #F0FFF0;
}

.h1{
  font-size: 30px;
  padding-bottom: 30px;
}

.h1.center{
  margin-top: 30px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 10px;
}

/* about photo grid of photos */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container > div {
  padding: 2px 2px; 
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.Img{
  width: 220px;
  height: 145px;
  margin-bottom: 5px;
}

.clientImg{
  width: 120px;
}
    
.bioImage{
  width: 220px;
  margin: 3px;
}
}

@media screen and (max-width: 600px) {

body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

/* nav */
body nav{
    position: sticky;
    top: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
}

body nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #f1f1f1;
  padding: 0;
}

body nav ul li {
  list-style: none;
  margin-right: 3px;
  font-weight: bold;
}

body nav ul li a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 0px 3px;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
}

body nav .logoImg{
   height: 20px;
}

.body nav a:hover {
  background-color: #ddd;
  color: black;
}

.anchor{
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.textColumn {
  width: 80%;
  margin-left: 30px;
  margin-right: 30px;
  float: left;
}

.imageColumn {
  padding: 2px;
  float: left;
  margin-left: 10px;
}

.header-right {
  float: right;
}

.header-left {
  float: left;
}

p.about { 
  font-size: 15px;
  line-height: 1.4;
  padding: 10px;
}

/* Clear floats after the columns */
.row::after{
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 14%;
}

.middle {
  width: 65%;
}

.column.hf1{
  width: 100%;
  padding: 4px;
}

.column.hf2{
  width: 90%;
  margin-left: 4px;
}

.coverpage{
    width: 70%;
    margin-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr{
  margin-top: 20px;
}

.background{
  margin: 10px;
  background-color: grey;
}

.background2{
  padding: 15px;
  background-color: #DCDCDC;
}

.background3{
  padding: 15px;
  background-color: #F0FFF0;
}

.h1{
  font-size: 30px;
  padding-bottom: 30px;
}

.h1.center{
  margin-top: 30px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 10px;
}

/* about photo grid of photos */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container > div {
  padding: 2px 2px; 
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.Img{
  width: 100px;
  height: 66px;
  margin-bottom: 10px;
}

.clientImg{
  width: 45px;
}
    
.bioImage{
  width: 160px;
  margin: 3px;
}
}
