body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 70%;
  width: 100%;
}

/* nav */
body nav{
    position: sticky;
    top: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
}

body nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #f1f1f1;
  padding: 0;
}

body nav ul li {
  list-style: none;
  margin-right: 3px;
  font-weight: bold;
}

body nav ul li a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 0px 6px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

body nav .logoImg{
   height: 40px;
}

.body nav a:hover {
  background-color: #ddd;
  color: black;
}

.anchor{
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.textColumn {
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.imageColumn {
  padding: 2px;
  float: left;
  margin-left: 10px;
  width: 30%;
}

.header-right {
  float: right;
}

.header-left {
  float: left;
}

p.about { 
  font-size: 15px;
  line-height: 1.4;
  padding: 10px;
}

/* Clear floats after the columns */
.row::after{
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 14%;
}

.middle {
  width: 65%;
}

.column.hf0{
  width: 2%;
  padding: 4px;
}

.column.hf1{
  width: 45%;
  padding:4px;
}

.column.hf2{
  width: 42%;
  margin-left: 20px;
}

.coverpage{
    width: 70%;
    margin-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr{
  margin-top: 20px;
}

.background{
  margin: 10px;
  background-color: grey;
}

.background2{
  padding: 15px;
  background-color: #DCDCDC;
}

.background3{
  padding: 15px;
  background-color: #F0FFF0;
}

.h1{
  font-size: 30px;
  padding-bottom: 30px;
}

.h1.center{
  margin-top: 30px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 10px;
}

/* about photo grid of photos */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container > div {
  padding: 2px 2px; 
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.caseImg{
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.clientImg{
  display: flex;
  width: 20%;
  height: auto;
  margin-bottom: 10px;
}
    
.bioImage{
  display: flex;
  width: 100%;
  height: auto;
  margin: 3px;
}
